alembic==1.12.0
APScheduler==3.10.4
fastapi==0.103.2
feedparser==6.0.10
gunicorn==21.2.0
pydantic==2.4.2
pydantic-settings==2.0.3
pyowm==3.3.0
requests==2.31.0
SQLAlchemy==2.0.21
sqlalchemy-repr==0.1.0
transliterate==1.10.2
urllib3==1.26.16
uvicorn==0.23.2
