alembic==1.12.0
annotated-types==0.6.0
anyio==3.7.1
APScheduler==3.10.4
astroid==3.0.0
bcrypt==4.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
cryptography==41.0.5
dill==0.3.7
ecdsa==0.18.0
fastapi==0.103.2
feedparser==6.0.10
geojson==2.5.0
greenlet==3.0.0
gunicorn==21.2.0
h11==0.14.0
idna==3.4
isort==5.12.0
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.2
passlib==1.7.4
platformdirs==3.11.0
pyasn1==0.5.0
pycparser==2.21
pydantic==1.10.13
pylint==3.0.1
pyowm==3.3.0
PySocks==1.7.1
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.21
sqlalchemy-repr==0.1.0
starlette==0.27.0
tomlkit==0.12.1
transliterate==1.10.2
typing_extensions==4.8.0
tzlocal==5.1
urllib3==1.26.16
uvicorn==0.23.2
