<!DOCTYPE html>
<html>

<head>
    <title>PagerStation - сообщение админу</title>
    <meta charset="utf-8" />
</head>

<body>
    <CENTER>
        <H2>Отправь сообщение админу на пейджер</H2>

        <form action="to_admin_form_action" method="POST">
            <p><b>Текст сообщения:</b></p>
            <textarea name="mes_text" rows=10 cols=80 maxlength=950 required></textarea>
            <br /><br />
            <input type="submit" value="Отправить">
        </form>
    </CENTER>
</body>

</html>